section.section.offer
	.container 
		.offer__wrap 
			.offer__aside 
				h2(data-aos="fade-right").section__title.offer__title ПЕРВАЯ БЕСПЛАТНАЯ <br> КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ
				ul.offer__list 
					li.offer__list-item
						span.offer__list-title #{offerTitle1}
						p.offer__list-text #{offerText1}
					li.offer__list-item
						span.offer__list-title #{offerTitle2}
						p.offer__list-text #{offerText2}
					li.offer__list-item
						span.offer__list-title #{offerTitle3}
						p.offer__list-text #{offerText3}
						p.offer__list-text #{offerText4}

		.feedback 
			.feedback__content 
				span.feedback__title #{feedbackTitle}
				.feedback__text 
					p Если задача сложная, то запишем на живую 1-3-х часовую платную консультацию. Команда юристов погрузится в документы, историю дела, судебную практику и выдаст рекомендации.
					p Для юридических лиц можем приехать в ваш офис с директом и главным юристом.
			form.form
				.form__inputs 
					input(type="text" name="name" placeholder="Имя" required)
					input.phone-field(type="text" name="tel" placeholder="Номер телефона" required)
				input.form__btn(type="submit" value="ЗАПИСАТЬСЯ" onsubmit="ym(62967727,'reachGoal','forma_obrat_sv'); return true;")